{% extends 'base.html.twig' %}
{% block content %}

    <!-- Start Home Area -->
    <div class="home-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-content">
                                <h1>Se creo el soporte # <span
                                            class="color-text">{{ codigoSoporte }}</span>
                                </h1>
                                <p>Guarde este numero de soporte para consultar su estado,
                                    uno de nuestros asesores se comunicara con usted por alguno de los medios
                                    suministrados.
                                </p>
                                <div class="banner-btn">
                                    <a href="{{ path('soporte_comosehace') }}" class="default-btn-one">
                                        Regresar
                                        <span></span>
                                    </a>
                                    <a class="default-btn" href="{{ path('soporte_asesor') }}">
                                        Registrar nuevo soporte
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="banner-image">
                                <img src="{{ asset('landingPage/img/home-font.png') }}" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grey-cr"></div>
    </div>
    <!-- End Home Area -->

{% endblock %}