###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/nbproject/private/
/nbproject/*
/.idea/
/.idea/*
.idea/
.idea/*
/idea/calcio.iml
/idea/php.xml
composer.lock
symfony.lock
/config/packages/sensio_framework_extra.yaml
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
