{% extends 'baseOscura.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Acerca de nosotros</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a></li>
                            <li>Acerca de</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start About Section -->
    <section class="about-area section-padding">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="about-content">
                        <div class="about-content-text">
                            <h2><span class="color-text">Our mission</span> is to make your business better through technology.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="skills">
                                <div class="skill-item">
                                    <h6>Web Development <em>80%</em></h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="90%"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>iOS apps <em>75%</em></h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="75%"></div>
                                    </div>
                                </div>
                                <div class="skill-item">
                                    <h6>Discovery & Strategy <em>70%</em></h6>
                                    <div class="skill-progress">
                                        <div class="progres" data-value="80%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="about-image">
                        <img src="assets/img/about.jpg" alt="About image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Start Counter Section -->
    <section class="counter-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 counter-item">
                    <div class="single-counter">
                        <div class="counter-contents">
                            <h2>
                                <span class="counter-number">23</span>
                                <span>+</span>
                            </h2>
                            <h3 class="counter-heading">Years of Experience</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 counter-item">
                    <div class="single-counter">
                        <div class="counter-contents">
                            <h2>
                                <span class="counter-number">500</span>
                            </h2>
                            <h3 class="counter-heading">Complete Projects</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 counter-item">
                    <div class="single-counter">
                        <div class="counter-contents">
                            <h2>
                                <span class="counter-number">100</span>
                                <span>+</span>
                            </h2>
                            <h3 class="counter-heading">Employees</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 counter-item">
                    <div class="single-counter">
                        <div class="counter-contents">
                            <h2>
                                <span class="counter-number">300</span>
                                <span>+</span>
                            </h2>
                            <h3 class="counter-heading">5 Star Rating</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counter Section -->

    <!-- Start Team Section -->
    <section class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Expert Team Member</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-box">
                        <div class="team-image">
                            <img src="assets/img/team/team-1.jpg" alt="team" />
                            <div class="team-social-icon">
                                <a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3>Lewis Lucas</h3>
                            <span>IT Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-box">
                        <div class="team-image">
                            <img src="assets/img/team/team-2.jpg" alt="team" />
                            <div class="team-social-icon">
                                <a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3>Arturo Fuller</h3>
                            <span>Service Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-box">
                        <div class="team-image">
                            <img src="assets/img/team/team-3.jpg" alt="team" />
                            <div class="team-social-icon">
                                <a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3>Velma Cain</h3>
                            <span>Managing Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-team-box">
                        <div class="team-image">
                            <img src="assets/img/team/team-4.jpg" alt="team" />
                            <div class="team-social-icon">
                                <a href="#" class="social-color-1"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-color-2"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-color-3"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3>Marc Gibbs</h3>
                            <span>Executive Assistant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- Start Testimonial Section -->
    <section class="testimonial-section bg-grey section-padding">
        <div class="container">
            <div class="section-title">
                <h2>Our Client Say</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="testimonial-slider owl-carousel owl-theme">
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                            </div>
                            <div class="avatar">
                                <img src="assets/img/client/testimonial-1.jpg" alt="testimonial images">
                            </div>
                            <div class="testimonial-bio">
                                <div class="bio-info">
                                    <h3>Stanley Tate</h3>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                        </div>
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                            </div>
                            <div class="avatar">
                                <img src="assets/img/client/testimonial-2.jpg" alt="testimonial images">
                            </div>
                            <div class="testimonial-bio">
                                <div class="bio-info">
                                    <h3>Lana Shelton</h3>
                                    <span>Architect</span>
                                </div>
                            </div>
                        </div>
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
                            </div>
                            <div class="avatar">
                                <img src="assets/img/client/testimonial-3.jpg" alt="testimonial images">
                            </div>
                            <div class="testimonial-bio">
                                <div class="bio-info">
                                    <h3>Mario Houston</h3>
                                    <span>Social Worker</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Start Partner section -->
    <section class="partner-section pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Our Trusted Partner</h2>
            </div>
            <div class="partner-list">
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-1.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-2.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-3.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-4.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-5.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-6.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-7.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-8.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-9.jpg" alt="image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#0">
                        <img src="assets/img/partner-logo/client-10.jpg" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Partner section -->

{% endblock %}