<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Title of the PDF</title>
    <style>
        body {
            margin: 0;
            padding-top: 12px;
            padding-left: 20px;
            padding-right: 20px
        }

        p {
            text-align: justify;
        }

        .page_break {
            page-break-before: always;
        }

        .columnas {
            column-count: 2;
        }

        table {
            /*border-collapse:collapse;*/
            border-spacing: 0;
        }

        .table-bordered {
            width: 100%;
            border: 1px solid #dee2e6
        }

        .table-bordered thead tr th {
            text-align: center;
            width: 100%;
            border: 1px solid #dee2e6
        }

    </style>
</head>
<body>
<p>Medellín, Antioquia 21 junio de 2022</p>
<p style="margin-bottom: 50px">
    Señor,<br>
    PEPITO PEREZ<br>
    Gerente Operativo<br>
    <strong>CONCESIONARIA COVIAL S.A.</strong>
</p>
<p style="margin-bottom: 50px">
    Asunto: Viabilidad y factibilidad de nuestros procesos técnicos Semántica ERP vs Procesos administrativos.
</p>
<p>
    Para continuar el proceso comercial entre las partes queremos garantizar que nuestro producto Semántica ERP cumpla
    con las siguientes condiciones:
</p>
<p style="margin-bottom: 25px">
    <strong>Estudio factibilidad:</strong> Es el que hace una empresa para determinar la posibilidad de poder
    desarrollar un
    proyecto que espera implementar. No obstante, este tipo de estudio le permite a la empresa conocer si el proyecto
    que espera emprender le pueda resultar favorable o desfavorable. También le ayuda a establecer el tipo de
    estrategias que le pueden ayudar para que pueda llegar a alcanzar el éxito.
</p>
<p>
    <strong>Estudio viabilidad:</strong> Es un análisis de investigación en el que se tienen en cuenta todos los
    factores
    relevantes que afectan al proyecto -incluyendo las consideraciones económicas, técnicas, legales, planificación-
    para determinar la probabilidad de completar el proyecto con éxito. Del mismo modo, un estudio de viabilidad también
    está diseñado para identificar posibles problemas que puedan surgir al llevar a cabo el proyecto.
</p>
<p>
    Con la firma de este documento el cliente garantiza que es viable y factible implementar el Software. No olvide
    revisar los compromisos de las partes ya que serán parte integral del contrato entre las partes.
</p>
<p>
    Atentamente,
</p>
<table style="margin-top: 180px; width: 100%;">
    <tbody>
    <tr>
        <td style="width: 90%">
            <strong>MARIO ANDRES ESTRADA ZULUAGA</strong><br>
            Representante Legal <br>
            investigacion@semantica.com.co
        </td>
        <td style="width: 90%">
            <strong>PEPITO DE LOS PALOTES</strong> <br>
            Responsable cliente <br>
            <br>
        </td>
    </tr>

    </tbody>
</table>


{# <table> #}
{#    <tbody> #}
{#    <tr> #}
{#        <td> #}
{#            <p></p> #}
{#            <p></p> #}
{#            <p></p> #}
{#        </td> #}
{#        <td> #}
{#            <p></p> #}
{#            <p></p> #}
{#            <p>  </p> #}
{#        </td> #}
{#    </tr> #}
{#    </tbody> #}
{# </table> #}
<div class="page_break"></div>

<table class="table-bordered">
    <thead>
    <tr>
        <th colspan="4">Inventario</th>
    </tr>
    <tr>
        <th colspan="2" style="width: 80pc"> FUNCIONADILIDAD</th>
        <th colspan="2" style="width: 60pc">VALIDADO</th>
    </tr>
    <tr>
        <th>FUNCIÓN</th>
        <th style="width: 300pt">NOMBRE</th>
        <th style="width: 40pt">
            SI
        </th>
        <th style="width: 40pt">
            NO
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

</body>
</html>