{% extends 'baseOscura.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Implementacion</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a></li>
                            <li>Implementacion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Project Details Area -->
    <section class="project-details-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="image-sliders owl-carousel owl-theme">
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-1.jpg') }}" alt="image">
                        </div>
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-2.jpg') }}" alt="image">
                        </div>
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-3.jpg') }}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="projects-details-desc">
                        <h3>Implementacion</h3>
                        <div class="features-text">
                            <p>En el proceso de implementación de una herramienta o producto digital y más cuando de ello depende el efectivo funcionamiento de las organizaciones, es vital iniciar con unas bases fundamentadas en el conocimiento de expertos en cada área y de lineamientos sobre el funcionamiento de los productos de software. El servicio de implementación es modular y se presta para todo el ERP o si el cliente lo prefiere en un esquema secuencial donde se van implementando módulos a medida que van siendo adquiridos.
                                El acompañamiento incluye capacitación, asesoría, ingeniería de procesos, recursos y formación. Cabe aclarar que en ninguno de los casos el implementador intervendrá en la manipulación de los datos.
                            </p>
                        </div>
                        <div class="project-details-info">
                            <div class="single-info-box">
                                <h4>Author</h4>
                                <span>Ervin Simmons</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Category</h4>
                                <span>Design, Development</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Date</h4>
                                <span>January 25, 2022</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Share</h4>
                                <ul class="social">
                                    <li>
                                        <a href="#"> <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="single-info-box">
                                <h4>Works Link</h4>
                                <a href="#" class="default-btn">Live Preview <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Project Details Area -->
{% endblock %}