{% extends 'baseOscura.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Soporte</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a></li>
                            <li>Soporte</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Project Details Area -->
    <section class="project-details-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="image-sliders owl-carousel owl-theme">
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-1.jpg') }}" alt="image">
                        </div>
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-2.jpg') }}" alt="image">
                        </div>
                        <div class="project-details-image">
                            <img src="{{ asset('landingPage/img/project-details/project-details-3.jpg') }}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="projects-details-desc">
                        <h3>Soporte Tecnico</h3>
                        <div class="features-text">
                            <p>
                                Complementamos nuestro producto con un completo esquema de soporte y soluciones para cada tipo de empresa, desde nuestros recursos de autogestión gratuitos hasta servicios en sitio dedicados. Hacer de nuestra herramienta un producto amigable y fácil de usar no es suficiente y apoyamos a los usuarios con herramientas de autogestión, proporcionadas por medio de nuestros canales autorizados.
                                Canales y niveles de atención
                            </p>
                            <p>
                                Soporte básico:
                                Dudas sobre cómo manejar el sistema en los diferentes procesos, manuales y asesorías básicas, guías de implementación, recursos audiovisuales, reporte de fallas técnicas.
                                Horario: Lunes a Viernes de 08:00 a 12:00 y 13:00 a 17:00
                            </p>
                            <p>
                                Soporte extendido:
                                Cubrimiento 24/7/360 de nivel 1 de soporte para compañías de trabajo continuo que requieren una atención permanente.
                                Horario: Todos los días de la semana de 00:00 a 24:59
                            </p>
                        </div>
                        <div class="project-details-info">
                            <div class="single-info-box">
                                <h4>Author</h4>
                                <span>Ervin Simmons</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Category</h4>
                                <span>Design, Development</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Date</h4>
                                <span>January 25, 2022</span>
                            </div>
                            <div class="single-info-box">
                                <h4>Share</h4>
                                <ul class="social">
                                    <li>
                                        <a href="#"> <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="single-info-box">
                                <h4>Works Link</h4>
                                <a href="#" class="default-btn">Live Preview <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Project Details Area -->
{% endblock %}