<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="UTF-8"/>
    {% block metas %}
        <title>{% block title %}Rubidio{% endblock %}</title>
    {% endblock %}
    <!-- Web Fonts  -->


    {% block stylesheets %}

    {% endblock %}

</head>
<body>

{% block body %}
    <section class="body">
        <section role="main">
            {{ notificar()|raw }}
            {% block content %}

            {% endblock %}
        </section>


    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>
