{% extends 'base_sin_menu.html.twig' %}
{% block content %}
        <section class="services-section">
            <div class="container">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-testimonial">
                            <section class="card">
                                <div class="card-body p-0">
                                    {{ form(form) }}
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </section>
{% endblock %}
